.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-container{
  text-align: center;
}
/* .home-row{
  te
} */
.btn{
margin-top: 1ch;
}  
.AddBtn{
  margin-left: 90%;
}
.appBtn{
  margin-bottom: 2ch;
}
.apptable{
  justify-items: center;
}
.Vacccontainer{
  margin-top: 2ch;
}
.AddBtnApt{
  margin-left:40%
}
.AptContainer{
  margin-top: 2ch;
}
.btnCan{
  margin-top: 2ch;
  margin-left: 5%;
}
.img{
  height: 300px;
}
.bgImg{
  background:url('../src/components/Image/CovidImage.jpg');
  height: 100vh;
  width: 100%;
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
}
.NavBtnSpc{
  margin-left: 10%;
}
.BtnHome{
  margin-left: 85%;
}